{% extends 'base.html' %}
{% block content %}
{% verbatim %}
<div id='orders' class='px-3 py-3 pt-md-5 pb-md-4 mx-auto'>
    <h1 class='display-4 text-center py-3'>{{ app_title }}</h1>
    <div id='processing_orders'>
        <div class='row order_list_header border'>
            <div class='col pl-4 py-2'>
                <span class='h3 align-middle'>進行中</span>
            </div>
        </div>
        <processing-orders 
            v-for='order in processing_orders'
            v-bind:order='order'
            v-bind:key="order.pk"
        >
        </processing-orders>
    </div>

    <div id='finished_orders'>
        <div class='row order_list_header border'>
            <div class='col pl-4 py-2'>
                <span class='h3 align-middle'>已完成</span>
            </div>
        </div>
        <finished-orders
            v-for='order in finished_orders'
            v-bind:order='order'
            v-bind:key="order.pk"
        >
        <finished-orders>
    </div>
</div>

<script type="text/x-template" id="processing_order_template">
    <div class='row border'>
        <div class='col-xs-4 pl-4 py-3'>
            <img :src='order.logo' class='order_logo_img'></img>
        </div>
        <div class='col-xs-8 pl-4 py-3 h4'>
                <p>
                    <span class='text-success'>{{ order.deal_type }}</span>
                    預計出貨 {{ order.date }}
                </p>
                <p>{{ order.name }}</p>
        </div>
    </div>
</script>

<script type="text/x-template" id="finished_order_template">
    <div class='row border'>
        <div class='col-xs-4 pl-4 py-3'>
            <img :src='order.logo' class='order_logo_img'></img>
        </div>
        <div class='col-xs-8 pl-4 py-3 h4'>
                <p>
                    <span class='text-secondary'>{{ order.deal_type }}</span>
                </p>
                <p>{{ order.name }}</p>
        </div>
    </div>
</script>

<script>
    Vue.component('processing-orders', {
        props: ['order'],
        template: '#processing_order_template'
    });

    Vue.component('finished-orders', {
        props: ['order'],
        template: '#finished_order_template'
    });

    var app = new Vue(
        {
            el: '#orders',
            data () {
                return {
                    app_title: 'F2E - Orders',
                    processing_orders: null,
                    finished_orders: null,
                    sort_by_order_date_desc: function (a, b) { 
                        return new date(b.date) - new Date (a.date)
                    },
                }
                
            },
            mounted () {
                axios.get('/f2e/orders')
                    .then(response=>{
                        var processing = [];
                        var finished = [];
                        response.data.orders.forEach(order=>{
                            if (order.status == 1 || order.status == 2) {
                                processing.push(order);
                            }
                            else if (order.status == 3 || order.status == 4) {
                                finished.push(order);
                            };
                        });
                        this.processing_orders=processing.sort(this.sort_by_order_date);
                        this.finished_orders=finished.sort(this.sort_by_order_date);
                    })
            }
        },
    );
</script>
{% endverbatim %}
{% endblock %}
